services:
  crawl4ai:
    image: unclecode/crawl4ai:latest
    restart: unless-stopped
    environment:
      PORT: 11235
      CRAWL_FOR_AI_API_TOKEN: ${CRAWL_FOR_AI_API_TOKEN}
    ports:
      - "11235:11235"
    shm_size: "1g"
